<ngb-alert [dismissible]="false">
  Please pick a pair of start and end dates. Please make sure you have made end date later than the start date. Exclude the end day.
  The start date timezone will be considered for weekends and public holiday calculation.
</ngb-alert>

<ngb-alert [dismissible]="false" type='danger' *ngIf="errorMessage" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>

<form #dateFrom="ngForm" class="center">
  
  <div class="form-group m-2 w-50" >
    <div class="input-group">
      <label for="dp1" class="center m-2" style="width:100px">Start Date: </label>
      <input id="dp1" class="form-control" placeholder="yyyy-mm-dd"
             name="dp1" [(ngModel)]="startDate" ngbDatepicker #startDateInput="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="startDateInput.toggle()" type="button">
          <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
        </button>
      </div>
      
      <div class="m-2 w-50">
	    <div class="col">
		  <div ngbDropdown class="d-inline-block">
		    <button class="btn btn-outline-primary" id="timezone1" style="width:350px" ngbDropdownToggle >{{ startTimeZone || "Please select from following timezone" }}</button>
		    <div ngbDropdownMenu aria-labelledby="timezone1">
		      <button class="dropdown-item" *ngFor="let timezone of supportedTimeZones" (click)="setStartTimeZone(timezone)">{{ timezone }}</button>
		    </div>
		  </div>
		</div>
      </div>
    </div>
  </div>
    
    <div class="form-group m-2 w-50" >
    <div class="input-group">
      <label for="dp2" class="center m-2" style="width:100px">End Date: </label>
      <input id="dp2" class="form-control" placeholder="yyyy-mm-dd" 
             name="dp2" [(ngModel)]="endDate" ngbDatepicker #endDateInput="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="endDateInput.toggle()" type="button">
          <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
        </button>
      </div>
      
      <div class="m-2 w-50">
	    <div class="col">
		  <div ngbDropdown class="d-inline-block">
		    <button class="btn btn-outline-primary" id="timezone2" style="width:350px" ngbDropdownToggle >{{ endTimeZone || "Please select from following timezone" }}</button>
		    <div ngbDropdownMenu aria-labelledby="timezone2">
		      <button class="dropdown-item" *ngFor="let timezone of supportedTimeZones" (click)="setEndTimeZone(timezone)">{{ timezone }}</button>
		    </div>
		  </div>
		</div>
      </div>
    </div>
  </div>
  
  <button type="button" class="btn btn-primary m-2" [disabled]="!dateFrom.form.valid || !dateFrom.form.touched" 
  		(click)="onClick($event)">Submit</button>
</form>

<hr/>
<div *ngIf="startDateStr && endDateStr">
	<pre>Start Date: {{ startDateStr }}</pre>
	<pre>Start Date Timezone: {{ startTimeZone }}</pre>
	<pre>End Date: {{ endDateStr  }}</pre>
	<pre>End Date Timezone: {{ endTimeZone }}</pre>
</div>

<div *ngIf="intervalDays">
	<pre>Days: {{ intervalDays  }}</pre>
	<pre>Weeks: {{ intervalWeeks  }}</pre>
	<pre>Weekdays: {{ intervalWeekdays  }}</pre>
	<pre>Weekdays: {{ weekdaysUsingLoop  }}</pre>
</div>